code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ---------------------------- fonts ---------------------------- */
.croissant-font {
  font-family: "Croissant One", cursive;
  /* font-family: "Martian Mono", monospace; */
}

.martian-font {
  /* font-family: "Croissant One", cursive; */
  font-family: "Martian Mono", monospace;
}

.satisfy-font {
  font-family: "Satisfy", cursive;
}

/* ---------------------------- background ---------------------------- */
.bg-light-opacity-50 {
  background-color: rgb(255, 255, 255, 0.8);
  background: radial-gradient(white, (0, 0, 0, 0.5));
}

.bg-backgroud {
  background-color: floralwhite;
}

/* ---------------------------- scroll bar ---------------------------- */
/* width */
::-webkit-scrollbar {
  background-color: transparent;
  height: 7px;
  width: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0, 0.4);

  /* background: red; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
}

.search-input,
.hours-section,
.day-section,
.heading-section {
  width: 75%;
}

/* ---------------------------- media query ---------------------------- */
@media screen and (max-width: 600px) {
  .search-input,
  .hours-section,
  .day-section,
  .heading-section {
    width: 100%;
  }
  .location {
    flex-direction: column;
  }
}
